In [175]:
import pandas as pd
data=pd.read_csv(r'F:\Machine learning\Datasets\Titanic_Logistic Regression\train.csv')
X_test=pd.read_csv(r'F:\Machine learning\Datasets\Titanic_Logistic Regression\test.csv')
y_test=pd.read_csv(r'F:\Machine learning\Datasets\Titanic_Logistic Regression\gender_submission.csv')

In [176]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [177]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [178]:
#Droppping Name, PassengerId, Ticket as it is irrelevant. Dropping Cabin for now as it contains high % of missing values
data=data.drop(['PassengerId','Name','Cabin','Ticket'],axis=1)

In [179]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [180]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [181]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [182]:
from sklearn.compose import ColumnTransformer

In [183]:
X=data.drop('Survived',axis=1)

In [184]:
y=data['Survived']

In [185]:
num_features=['Age','Fare']
cat_features=['Pclass','Sex','SibSp','Parch','Embarked']

In [186]:
num_pipeline=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())
])

In [187]:
cat_pipeline=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='constant',fill_value='Missing')),
    ('onehot',OneHotEncoder(handle_unknown='ignore'))
])

In [188]:
preprocess=ColumnTransformer([
    ('num',num_pipeline,num_features),
    ('cat',cat_pipeline,cat_features)
])

In [189]:
#In the column transformer, the steps in the pipeline is performed on each feature

In [190]:
#Finally we create another pipeline to chain preprocessing step and model training step

In [191]:
from sklearn.linear_model import LogisticRegression

In [192]:
pipe=Pipeline(steps=[
    ('preprocess',preprocess),
    ('log reg', LogisticRegression())
])

In [193]:
pipe.fit(X,y)

Pipeline(steps=[('preprocess',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['Age', 'Fare']),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(fill_value='Missing',
                                                                                 strategy='constant')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['Pclass', 'Sex', 'SibSp',
                                                   'Parch', 'Embarked'])])),
                ('log reg', LogisticRegression())])

In [194]:
from sklearn.model_selection import cross_val_score

In [195]:
score=cross_val_score(pipe,X,y,cv=10,scoring='accuracy').mean()
print(score)

0.8047440699126094

In [196]:
X_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [197]:
X_test=X_test.drop(['PassengerId','Name','Cabin','Ticket'],axis=1)

In [198]:
from sklearn.metrics import accuracy_score

In [199]:
y_pred=pipe.predict(X_test)

In [200]:
y_test=y_test['Survived']

In [220]:
#Final accuracy on truly out of sample test set
accuracy_score(y_pred,y_test)

0.9401913875598086

In [202]:
# Lets perform grid Search also, cuz why not ? :p

In [203]:
from sklearn.model_selection import GridSearchCV

In [204]:
#Send the params in a dict as key vale params, which all we wanna try and instantiate grid search

In [217]:
gridsearch=GridSearchCV(pipe,{'preprocess__num__imputer__strategy':['median','mean']},cv=10,scoring='accuracy')

In [218]:
gridsearch.fit(X,y)

GridSearchCV(cv=10,
             estimator=Pipeline(steps=[('preprocess',
                                        ColumnTransformer(transformers=[('num',
                                                                         Pipeline(steps=[('imputer',
                                                                                          SimpleImputer(strategy='median')),
                                                                                         ('scaler',
                                                                                          StandardScaler())]),
                                                                         ['Age',
                                                                          'Fare']),
                                                                        ('cat',
                                                                         Pipeline(steps=[('imputer',
                                                                                          SimpleImputer(fill_value='Missing',
                                                                                                        strategy='constant')),
                                                                                         ('onehot',
                                                                                          OneHotEncoder(handle_unknown='ignore'))]),
                                                                         ['Pclass',
                                                                          'Sex',
                                                                          'SibSp',
                                                                          'Parch',
                                                                          'Embarked'])])),
                                       ('log reg', LogisticRegression())]),
             param_grid={'preprocess__num__imputer__strategy': ['median',
                                                                'mean']},
             scoring='accuracy')

In [219]:
gridsearch.cv_results_

{'mean_fit_time': array([0.05940068, 0.06965075]),
 'std_fit_time': array([0.02005923, 0.01417284]),
 'mean_score_time': array([0.01314108, 0.01405952]),
 'std_score_time': array([0.00644236, 0.00327144]),
 'param_preprocess__num__imputer__strategy': masked_array(data=['median', 'mean'],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'params': [{'preprocess__num__imputer__strategy': 'median'},
  {'preprocess__num__imputer__strategy': 'mean'}],
 'split0_test_score': array([0.77777778, 0.77777778]),
 'split1_test_score': array([0.80898876, 0.80898876]),
 'split2_test_score': array([0.7752809, 0.7752809]),
 'split3_test_score': array([0.84269663, 0.84269663]),
 'split4_test_score': array([0.79775281, 0.79775281]),
 'split5_test_score': array([0.78651685, 0.78651685]),
 'split6_test_score': array([0.80898876, 0.80898876]),
 'split7_test_score': array([0.80898876, 0.80898876]),
 'split8_test_score': array([0.80898876, 0.80898876]),
 'split9_test_score': array([0.83146067, 0.83146067]),
 'mean_test_score': array([0.80474407, 0.80474407]),
 'std_test_score': array([0.02050027, 0.02050027]),
 'rank_test_score': array([1, 1])}

In [ ]:
#Both appear to have same effect on cv score